<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Maintenance Page</title>
  </head>
  <body>
    {{> header}}
    <p>The site is currently being updated. Be right back!</p>
    {{> footer}}
  </body>
</html>
